---
import Footer from '../layout/Footer.astro';
import Header from '../layout/Header.astro';
import ArchitectureBlueprint from '../sections/ArchitectureBlueprint.astro';
import CodePreview from '../sections/CodePreview.astro';
import Expertise from '../sections/Expertise.astro';
import Hero from '../sections/Hero.astro';
import OpenSource from '../sections/OpenSource.astro';
import Philosophy from '../sections/Philosophy.astro';
import Projects from '../sections/Projects.astro';
import VibeMetrics from '../sections/VibeMetrics.astro';
---

<Header />
<main>
  <Hero />
  <CodePreview />
  <Expertise />
  <Projects />
  <ArchitectureBlueprint />
  <Philosophy />
  <OpenSource />
  <VibeMetrics />
</main>
<Footer />
